#topbar {
    background: #10125e;
    height: 40px;
    font-size: 14px;
    transition: all 0.5s;
    z-index: 996;
}
#topbar .contact-info i {
    color: #ffffff;
    padding-right: 4px;
    margin-left: 15px;
    line-height: 0;
}
.why-us .icon-boxes .icon-box {
    text-align: center;
    border-radius: 10px;
    background: #00e32a;
    box-shadow: 0px 2px 15px rgba(0, 0, 0, 0.1);
    padding: 40px 30px;
    width: 100%;
    color: white;
}

.why-us .icon-boxes .icon-box i {
    font-size: 40px;
    color: #ffffff;
    margin-bottom: 30px;
}

.appointment-btn {
    margin-left: 0;
    background: #10125e;
    color: #fff;
    border-radius: 50px;
    padding: 8px 25px;
    white-space: nowrap;
    transition: 0.3s;
    font-size: 14px;
    display: inline-block;
}

.section-title h2::after {
    content: "";
    position: absolute;
    display: block;
    width: 40px;
    height: 3px;
    background: #458300;
    bottom: 0;
    left: calc(50% - 20px);
}
.services .icon-box {
    text-align: center;
    border: 1px solid #d5e1ed;
    padding: 40px 20px;
    transition: all ease-in-out 0.3s;
}
.services .icon-box:hover {
    /* background: #1977cc; */
    background: #10125e;
    border-color: #1977cc;
}
.services .icon-box:hover .appointment-btn {
    /* background: #1977cc; */
    background: #10125e;
    box-shadow: 0px 2px 15px rgba(0, 0, 0, 0.726);
    /* border-color: #1977cc; */
}
.about .icon-box .icon {
    float: left;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 64px;
    height: 64px;
    border: 2px solid #10125e;
    border-radius: 50px;
    transition: 0.5s;
}

.about .icon-box .icon i {
    color: #10125e;
    font-size: 32px;
}

.about .icon-box:hover .icon {
    background: #10125e;
    border-color: #10125e;
}
#footer {
    color: #ffffff;
    font-size: 14px;
    background: #10125e;
}
#footer .footer-top {
    color: #ffffff;
    padding: 60px 0 30px 0;
    background: #10125e;
    box-shadow: 0px 2px 15px rgba(25, 119, 204, 0.1);
}
#footer .footer-top .footer-contact p {
    font-size: 14px;
    line-height: 24px;
    margin-bottom: 0;
    font-family: "Raleway", sans-serif;
    color: #fff;
}

#footer .footer-top .footer-links ul a {
    color: #fff;
    transition: 0.3s;
    display: inline-block;
    line-height: 1;
}
